body{
    margin: 0;
    padding: 0;
    background: white;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 300px;
    height:33px;
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(245, 130, 31);
}
.search-btn{
    color: rgb(245, 130, 31);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(245, 130, 31);
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background-color: white;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 260;
    height: 35;
}
.footer
{
    background-color:#dadada;
    height:250px;
    margin-top: 528px;
    width: 1500;

}
.footer1
{

width:182px;
height:55px;
margin-left:146px;
}
.footer2
{
    border:1px solid black;
    width:182px;
    height:55px;
    margin-top:65px;
    margin-left:146px;
}
.footer3
{ 
    margin-top:-125px;
    height:150px;
    width:280px;
    margin-left:421px;

}
.footer4
{
    height:150px;
    width:368px;
    margin-left:762px;
    margin-top:-153px;
}
.footer5
{
    
    height: 40px;
    width: 997px;
    margin-left: 140px;
    margin-top: 16px;
}
#container6 ul li{
    background-color: #dadada;
width: 1000px;
border: 0px solid white;
height: 208px;
line-height: 50px;
text-align: center;
float: center;
color:black;
font-size: 13px;
position: relative;

}
#container5 ul li{
    background-color: #dadada;
width: 1430px;
border: 0px solid white;
height: 242px;
line-height: 50px;
text-align: center;
float: center;
color:black;
font-size: 18px;
position: relative;

}