.topul {
    list-style-type: none;
    margin: -10;
    padding: 8;
    overflow: hidden;
    background-color:rgb(245, 130, 31);

}

.topli {
    float: left;
    margin-left: 1px;

}
li a:hover{
    background-color: rgb(245, 130, 31);
}

.toplia {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18.2px;
}
placeholder{
    color:rgb(245, 130, 31);
opacity:1;
}
/* Change the link color to #111 (black) on hover */
input[type=text] {
    width: 250px;
    padding: 15px;
    box-sizing: border-box;
    
    margin-right: 40px;
    background-image: url('s.png');
    border: 2px solid rgb(245, 130, 31);
    border-radius: 1px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    text-align: right;
    padding: 8px 2px 2px 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.topul2 {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    background-color:#ffffff;
    position: relative;
}

.topli2 {
    margin-top: 40px;
    float: left;
  margin-left: 10px  ;
}
li a:hover{
    background-color: #f5741e;
}

.toplia2 {
    display: block;
    color: rgb(12, 70, 120);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 18.2px;
}
.line{
    border-right: 1px solid #bbb;
    margin-top: 0.5px;
    margin-bottom: 0.5px;

}
.dropbtn {
    display: inline-block;
    color: rgb(12, 70, 120);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: whitesmoke;
    margin-top: 40px;
    border-color: black;
    border: 1px solid  rgb(12, 70, 120);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(190, 29, 29);
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -10px;
    border-color: black;
    font-size: 18px;
    
}
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}




.log1{
    margin-left: 140px;
    margin-top: 40px;
    display: inline-block;

}

.ul1{
    list-style-type: none;
    margin: -10px;
    padding: 8;
    overflow: hidden;
    
}

.li1 {
    float: left;
    margin-left: 500px;
    width: 190px;
    background-color:rgb(245, 130, 31);  
    

}
.lia1 {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18.2px;
}


.notice {
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    width: 100px;
    background-color:rgb(143, 142, 141); 
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}
.mar{
    background-color: whitesmoke;
    margin-left: 105px;
    margin-top: -50px;
    padding: 10px;
    width: 900px;
    color: black;
    

}
.small1{
    color: #f5741e;
    margin-left: 155px;
    margin-top: 20px;
    font-size: 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}

pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
    text-align: justify;
    font-weight: initial;
    margin-left: 40px;
    line-height: 1.2;
}
.ta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    text-align:justify;
    font-weight: lighter;
    margin-left: 60px;
    line-height: 1.2;
    color: #aaaaaa;
}
footer{
    padding: 20px 0 30px 0;
    background-color: #053c6d;
}




.topul1 {
    list-style-type: none;
    margin: 10;
    padding: 8;
    overflow: hidden;
    background-color:#053c6d;
    display: block;

}

.topli1 {
    margin-left: 1px;
    display: block;

}
.topli1 a:hover{
    text-decoration: underline;
    display: block;
    background-color: #053c6d;
    
}

.toplia1 {
    display: block;
    color: white;
    text-align: left;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    display: block;
}

.aa a:hover{
    text-decoration: underline;
    display: block;
    background-color: #053c6d;
    
}